@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');

$title_font:'Gelasio', serif;
$principal_title: 'Shrikhand', cursive;

html{
    padding: 0;
    border: 0;
    margin: 0;
}
.app{
    padding: 0;
    border: 0;
    .menu{
        margin: 0;
        padding: 0;
        .list{
            padding-top: 10px;
            padding-left: 55px;
            left: -4px;
            margin: 0;
            border: 0;
            display: flex;
            flex-direction: column;
            position: fixed;
            height: 100vh;
            width: 100px;
            top: 0;
            background-color: rgb(255, 136, 0);
            list-style: none;
            .item{
                font-family: $title_font;
                padding: 2px;
                :hover{
                    color: #444444;
                };
                a{
                    text-decoration: none;
                    color: blanchedalmond;
                    font-size: 18px;
                    padding: 0;
                }
            }
        }
    }
    .dash{
        padding-left: 180px;
        padding-right: 110px;
        .principal_title{
            font-family: $principal_title;
            letter-spacing: 2px;
        }
        .title{
            font-family: $title_font;
        }
        fieldset{
            box-shadow: 3px 2px 1px 1px;
            border-radius: 10px;
        }
        a{
            text-decoration: none;
        }
    }
}