@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fugaz+One|Gelasio|Kavoon|Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

$title_font:'Gelasio', serif;
$principal_title: 'Patua One', cursiv;
$text_font: 'Gelasio', serif;

html{
    padding: 0;
    border: 0;
    margin: 0;
}

.app{
    padding: 0;
    border: 0;

    .menu{
        margin: 0;
        padding: 0;

        .list{
            padding-top: 10px;
            padding-left: 15px;
            left: -1px;
            margin: 0;
            border: 0;
            display: flex;
            flex-direction: column;
            position: fixed;
            height: 100vh;
            width: 100px;
            top: 0;
            background-color: rgb(0, 183, 255);
            list-style: none;

            .logo{
                padding-bottom: 10px;
                img{
                    padding-top: 10px;
                    padding-left: 9px;
                    padding-bottom: 10px;
                    padding-right: 10px;
                    background-color: white;
                    width: 62px;
                    border-radius: 5px;
                    box-shadow: 2px 2px 3px 2px #444444;
                }
            }

            .item{
                font-family: $principal_title;
                padding: 2px;   

                :hover{
                    color: white;
                }

                a{
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    padding: 0;
                }
            }

            .qr_code{
                padding-top: 300px;
                padding-right: 30px;   
            }
        }
    }
    .dash{
        padding-left: 180px;
        padding-right: 110px;

        .title_dash{
            display: flex;
            .principal_title{
                font-family: $title_font;
                letter-spacing: 2px;
            }
        }

        .title{
            font-family: $title_font;
        }

        textarea{
            border-radius: 2px;
        }

        fieldset{
            box-shadow: 4px 4px 4px 1px #444444;
            border-radius: 10px;
        }

        a{
            text-decoration: none;
        }
        p{
            font-family: 'Gelasio', serif;
            font-size: 18px;
        }
    }
    .footer{
        .copy{
            padding-top: 20px;
            padding-left: 180px;
        }
    }
    
}